.pageContainer {
  background-color: #121212;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    radial-gradient(
      circle at 10% 20%,
      rgba(40, 40, 40, 0.8) 0%,
      transparent 20%
    ),
    radial-gradient(
      circle at 90% 80%,
      rgba(40, 40, 40, 0.8) 0%,
      transparent 20%
    );
  background-size: 40px 40px, 40px 40px, 100% 100%, 100% 100%;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;
  box-sizing: border-box;
  font-style: italic;
  overflow: auto;
  backdrop-filter: blur(2px);
   overflow-x: hidden;
}

@media (max-width: 1024px) {
  .section {
    padding: 3rem 1.5rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .role {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 0;
     margin-top: 0 !important;
  }
  .section {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    
  }
  .profileImage {
    width: 250px;
    height: 250px;
  }
  .name {
    font-size: 2rem;
  }
  .role {
    font-size: 1.5rem;
  }
  .bio {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .pageContainer {
    padding: 0;
    margin-top: -120px !important;
  }
  .section {
    padding: 1.5rem 0.5rem;
    gap: 1rem;
  }
  .profileImage {
    width: 150px;
    height: auto;
    max-height: 150px;
    object-fit: contain;
  }
  .name {
    font-size: 1.8rem;
  }
  .role {
    font-size: 1.2rem;
  }
  .button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  .skillsContainer {
    display: flex;
    align-items: center;
    border-radius: 300px;
  }
}

@media (max-width: 375px) {
  .profileImage {
    width: 120px;
    max-height: 120px;
  }
  .section {
    padding: 1.5rem 0.5rem;
    gap: 1rem;
 
  }
  .name {
    font-size: 1.5rem;
  }
  .role {
    font-size: 1rem;
  }
  .bio {
    font-size: 0.9rem;
    max-width: 90%;
  }
  .button {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}

.profileImage {
  flex: 1;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  max-height: 350px;
  border-radius: 5%;
  margin: 20px;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.25);
  position: relative;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  display: block;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  margin-right: 10px;
}
.button:hover {
  border: 1px solid white;
  opacity: 0.8;
  transform: scale(1.05);
}
.button:first-child {
  background-color: #00ff00;
  color: black;
}

.button a {
  color: inherit;
  text-decoration: none;
}


.section {
  max-width: 1200px;
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 120px;
}

.name {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-style: italic;
  
}

.role {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #4ecdc4;
}

.bio {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 600px;
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
}


